canvas {
  position: fixed;
  background: url("/assets/road_background.jpg") repeat 0 0;
  width: 640px;
  height: 827px;
  animation: road 4s linear infinite;
  box-sizing: border-box;
}
body{
  display: flex;

  justify-content: center;
}
.left{
  display: flex;
  justify-content: center;
  width: 200px;
}

.right{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  text-align: center;
  gap: 2rem;
}
#bonusContainer{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.star{
  width: 20px;
}
#bonus{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 80%
;
}
#keypad{
  width: 70%;
  height: 50%;
}
#niveau {
  position: relative;
  margin-left: 60%;
  font-size: 2rem;
  font-weight: bold;
}

@font-face {
  font-family: SuperPixel;
  src: url("../assets/super-pixel-font/SuperPixel-m2L8j.ttf");
}


@keyframes road {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 827px;
  }
}

#menu {
  position: relative;
  width: 640px;
  height: 827px;
  background-color: rgba(0, 136, 91, 0.42);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: SuperPixel, serif;
  align-items: center;
}

#menu > h1 {
  color: red;
}

#menu > p {
  font-size: 1.25rem;
}

#startBtn {
  padding: 20px;
  background-color: transparent;
  border: none;
  border-radius: 30%;
  font-size: 1.7rem;
  font-family: SuperPixel, serif;
  cursor: pointer;
}



