canvas {
    position: fixed;
    background: url("/assets/background.svg") repeat 0 0;
    width: 1200px;
    height: 900px;
    animation: road 5s linear infinite;
    box-sizing:border-box;
}

@keyframes road {
    from { background-position: 0 0 }
    to {  background-position: 0 900px }

}